<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<!--Web browserName = chrome,firefox,iexplorer,safari -->
<!--Msite browserName = apple,iphonesize,androidsize -->
<!--M deviceName = Apple iphone 6,Nexus 5 -->

<suite name="DataDriven" parallel="false" thread-count="1"
	verbose="10">
	<listeners>
		<listener class-name="com.Junglee.Listners.CustomListner"></listener>
		<listener class-name="com.Junglee.Listners.AnnotationTransformer"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
	</listeners>

	<parameter name="deviceName" value="Apple iphone 6"></parameter>
	<parameter name="Grid" value="OFF"></parameter>
	<parameter name="GURL" value="http://192.168.99.100:12345/wd/hub"></parameter>





	<test name="Howzat Core API Testing" preserve-order="true">
		<parameter name="WebDriverRequired" value="NO"></parameter>
		<parameter name="RestProxy" value="NO"></parameter>
		<parameter name="URL" value="http://10.90.5.12:8090"></parameter>
		<classes>
			<class name="com.Junglee.APITest.HowzatCore.HowzatGetGameRulesAPI" />
			<class name="com.Junglee.APITest.HowzatCore.HowzatSeriesCreationAPI" />
			<class
				name="com.Junglee.APITest.HowzatCore.HowzatMatchAndLeagueCreationAPI" />
			<class name="com.Junglee.APITest.HowzatCore.HowzatLeagueVisibilityAPI" />
			<class name="com.Junglee.APITest.HowzatCore.HowzatCreatePrizeStructureAPI" />
			<class name="com.Junglee.APITest.HowzatCore.HowzatCreateSimpleContestAPI" />
			<class name="com.Junglee.APITest.HowzatCore.HowzatGetRealTeamAPI" />
			<class name="com.Junglee.APITest.HowzatCore.HowzatCreateFanTeamAPI" />
			<class name="com.Junglee.APITest.HowzatCore.HowzatJoinContestAPI" />

		</classes>
		<!-- <packages> <package name="com.Junglee.APITest.HowzatCore"></package> 
			</packages> -->
	</test>

	<!-- <test name="Howzat Stage API Testing"> <parameter name="WebDriverRequired" 
		value="NO"></parameter> <parameter name="RestProxy" value="NO"></parameter> 
		<parameter name="URL" value="https://stage.howzat.com"></parameter> <packages> 
		<package name="com.Junglee.APITest.HowzatStage"></package> </packages> </test> -->





	<!-- <test name="Howzat API Testing"> <parameter name="WebDriverRequired" 
		value="NO"></parameter> <parameter name="RestProxy" value="NO"></parameter> 
		<parameter name="URL" value="http://10.90.5.12:8090"></parameter> <packages> 
		<package name="com.Junglee.APITest.Howzat"></package> </packages> </test> -->



	<!-- <test name="Game Engine API Testing"> <parameter name="WebDriverRequired" 
		value="NO"></parameter> <parameter name="RestProxy" value="NO"></parameter> 
		<parameter name="URL" value="https://gameevent.jungleerummyqa.com"></parameter> 
		<classes> <class name="com.Junglee.APITest.GameEngine.GameEventsLog"></class></classes> 
		</test> -->

</suite>